<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @user.username%>'s bookshelf</h1>
      <div class="cards cards-bookshelf">
        <% @user_books.each do |user_book| %>
          <%= render "user_books/card", user_book: user_book %>
        <% end %>
      </div>
        <h2>Contact <%= @user.username%>?</h2>
        <p>Email: <%= @user.email %></p>
        <p><%= link_to 'Back to list', user_books_path, class: "btn btn-warning btn-pill btn-sm"%></p>
    </div>
  </div>
</div>
