<div class="container">
  <nav class="m-5">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-link active" id="nav-pending-tab" data-toggle="tab" href="#nav-pending" role="tab" aria-controls="nav-pending" aria-selected="true">Pending</a>
      <a class="nav-link" id="nav-active-tab" data-toggle="tab" href="#nav-active" role="tab" aria-controls="nav-active" aria-selected="false">Active</a>
      <a class="nav-link" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="false">History</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
      <div class="received-request">
        <% @requests_received.each do |request| %>
          <div class="card-trip">
              <img src="<%= request.book.cover.empty? ? 'https://collegeinfogeek.com/wp-content/uploads/2018/11/Essential-Books.jpg' : request.book.cover %>">
              <div class="card-trip-infos">
                <div>
                  <p><%= request.book.title %></p>
                  <p><%= request.book.author %></p>
                </div>
                <h2 class="card-trip-pricing"><%= request.user.username %></h2>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              </div>
            </div>
          <!-- this is the card contents
          cover image is request.user_book.book.cover
          user is request.user -->
        <% end %>
      </div>
      <div class="sent-request">
        <% @requests_made.each do |request| %>
            <img src="<%= request.book.cover.empty? ? 'https://collegeinfogeek.com/wp-content/uploads/2018/11/Essential-Books.jpg' : request.book.cover %>">
              <div class="card-trip-infos">
                <div>
                  <p><%= request.book.title %></p>
                  <p><%= request.book.author %></p>
                </div>
                <h2 class="card-trip-pricing"><%= request.user_book.user.username %></h2>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-active" role="tabpanel" aria-labelledby="nav-active-tab">
      <% @requests_active.each do |active| %>
        <!-- there's nothing coming in here yet, waiting for the new model it will still be the same index card though -->
      <% end %>
    </div>
    <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">...</div>
  </div>
</div>
