<div class="container">
  <nav class="m-5">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-pending-tab" data-toggle="tab" href="#nav-pending" role="tab" aria-controls="nav-pending" aria-selected="true">Pending</a>
      <a class="nav-item nav-link" id="nav-active-tab" data-toggle="tab" href="#nav-active" role="tab" aria-controls="nav-active" aria-selected="false">Active</a>
      <a class="nav-item nav-link" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="false">History</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <!-- PENDING TAB -->

    <div class="tab-pane fade show active" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
      <div class="received-request">
        <% @requests_received.each do |request| %>
            <%= render 'user_books/card-product', user_book: request.user_book, request: request %>
        <% end %>
      </div>
      <div class="sent-request cards my-5">
        <% @requests_made.each do |request| %>
          <div class="card-trip">
            <img src="<%= request.book.cover.empty? ? 'https://collegeinfogeek.com/wp-content/uploads/2018/11/Essential-Books.jpg' : request.book.cover %>">
            <div class="card-trip-infos">
              <div>
                <p><%= request.book.title %></p>
                <p><%= request.book.author %></p>
              </div>
              <h2 class="card-trip-pricing"><%= request.user_book.user.username %></h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- ACTIVE TAB -->

    <div class="tab-pane fade" id="nav-active" role="tabpanel" aria-labelledby="nav-active-tab">
      <div class="borrowed-books cards my-5">
        <h2>Borrowed Books</h2>
        <% @borrowed.each do |request| %>
          <div class="card-trip">
            <img src="<%= request.book.cover.empty? ? 'https://collegeinfogeek.com/wp-content/uploads/2018/11/Essential-Books.jpg' : request.book.cover %>">
            <div class="card-trip-infos">
              <div>
                <p><%= request.book.title %></p>
                <p><%= request.book.author %></p>
              </div>
              <h2 class="card-trip-pricing"><%= request.user_book.user.username %></h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        <% end %>
      </div>
      <div class="loaned-books cards my-5">
        <h2>Books on Loan</h2>
        <% @loaned.each do |request| %>
          <div class="card-trip">
            <img src="<%= request.book.cover.empty? ? 'https://collegeinfogeek.com/wp-content/uploads/2018/11/Essential-Books.jpg' : request.book.cover %>">
            <div class="card-trip-infos">
              <div>
                <p><%= request.book.title %></p>
                <p><%= request.book.author %></p>
              </div>
              <h2 class="card-trip-pricing"><%= request.user_book.user.username %></h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- HISTORY -->

    <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
      <div class="cards my-5">
        <% @history.each do |request| %>
          <div class="card-trip">
              <img src="<%= request.book.cover.empty? ? 'https://collegeinfogeek.com/wp-content/uploads/2018/11/Essential-Books.jpg' : request.book.cover %>">
              <div class="card-trip-infos">
                <div>
                  <p><%= request.book.title %></p>
                  <p><%= request.book.author %></p>
                </div>
                <h2 class="card-trip-pricing"><%= request.user_book.user.username %></h2>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
