<div class="container">
  <div class="search-user-books my-3">
    <%= form_tag(user_books_path, :method => "get", class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "Search", :class => 'btn btn-info',:name => nil%>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col">
      <div class="cards">
        <% @user_books.each do |user_book|%>
          <div class="card-trip">
            <img src="<%= user_book.book.cover.empty? ? 'https://collegeinfogeek.com/wp-content/uploads/2018/11/Essential-Books.jpg' : user_book.book.cover %>">
            <div class="card-trip-infos">
              <div>
                <p>Title: <%= link_to user_book.book.title, user_book_path(user_book) %></p>
                <p>Author: <%= user_book.book.author %></p>
              </div>
              <h2 class="card-trip-pricing"><%= user_book.user.username %></h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
