<div class="container">
  <div class="row">
    <div class="col">
      <%= render 'card-product', user_book: @user_book, request: nil  %>
      <div class="my-3">
        <h3>Borrow period</h3>
        <%= simple_form_for [ @user_book, @request ] do |f| %>
        <div class="form-inline">
          <%= f.input :start_date, html5: true %><%= f.input :end_date, html5: true %><%= f.submit "request", class: "btn btn-warning btn-pill" %>
        </div>
        <% end %>
      </div>
      <p><%= link_to 'Back to list', user_books_path, class: "btn btn-warning btn-pill btn-sm" %></p>
    </div>
  </div>
</div>
